[Unit]
Description=Copy the fb
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fbcp
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=graphical.target
